*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
nav{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    color: purple;
    background-color: rgb(245, 248, 250);
}
#subnav {
    border: none;
    display: flex;
    gap: 0.3rem;
}
#subnav input[type="text"]{
    width: 100px;
    padding: 3px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    transition: width 0.1s;
}
#subnav input[type="text"]:focus{
    width: 120px;
}
#subnav button{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid;

}
#hymns {
    display: flex;
    /* gap: 0.1rem; */
    flex-direction: column;
    font-size: small;
    /* padding: 3px; */
    /* padding-top: 4px; */
font-weight: bold;
min-height: calc(100% -100px);
/* color: purple; */
/* border: 1px gray solid; */
}
#footer{
   
    bottom: 2.5px;
    /* height: 10px; */
    width: 100%;
position: fixed;
border: 0.1px solid;
background-color: rgb(245, 248, 250);
padding: 5px;
}
#footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 z-index: 1;   
 /* background-color: white; */
 
 /* height: 5%; */
}
#footer div a{
    text-decoration: none;
    color: black;
}
.hymnbody{
    background-color: rgb(245, 248, 250);
    /* border: 0.1px purple solid; */
/* border-radius: 5px; */
padding: 2px;
border: 1px gray solid;
}
#hymnheader{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
font-size: 11px;
    /* gap: 8.5rem; */
    padding: 2.5px;
    align-items: center;
}
#hymnheader .fa-solid{
    font-size: 20px;
}
.title{
    font-size: 40px;
    color: yellow;
}
@media  (max-width:800px){
    .hymnbody:hover{
        background-color: rgb(238, 233, 233);
        text-decoration: underline; 

    }
}